html {
    background-color: var(--primary);
    touch-action: manipulation;
    scroll-behavior: smooth;
}

h1 {
    font-family: Arial;
    font-style: bold;
    color: var(--on-tertiary);
    font-size: 56px;
    margin-top: 12.5%;
    margin-bottom: 2%;
}

h2 {
    font-family: Arial;
    font-style: bold;
    color: var(--on-tertiary);
    font-size: 38px;
    margin-top: 8%;
    margin-bottom: 0%;
}

h3 {
    font-family: Arial;
    font-style: bold;
    color: var(--on-tertiary);
    font-size: 26px;
    margin-top: 6%;
    margin-bottom: 0%;
}

p {
    font-family: Arial;
    font-style: normal;
    color: var(--on-tertiary);
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 0%;
}

a {
    font-family: Arial;
    font-style: normal;
    color: var(--on-tertiary);
    text-decoration: underline;
    transition: 0.15s;
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

ul {
    color: var(--on-tertiary);
}

pre {
    background-color: #202327;
    border: 1px solid #202327;
    color: var(--on-tertiary);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    overflow-x: auto;
}

pre:hover {
    border: 1px solid #1dd645;
}

pre::-webkit-scrollbar {
    width: 8px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 22px;
    }
}